.Main {
   border: 1px solid gray;
   padding: 10px;
   margin: 5px;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

.Main {
   grid-area: m;
}

.section {
   padding: 10px;
   margin: 5px;
}
.section-article {
   border: 2px solid rgb(41, 60, 156);
   width: 333.33px;
   height: 200px;
   margin: 3px;
   padding: 4px;
}